body {
  font-size: 16px;
}
.col-2{
  float: left;
  width: 20%;
  text-align: center;
  margin-bottom: 15px;
}
.col-3{
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 15px;
}
.col-4{
  float: left;
  width: 33%;
  text-align: center;
  margin-bottom: 15px;
}
.col-10{
  float: left;
  width: 80%;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 10px;
}
#students > thead > tr > th{
  width: 15%;
}
#students > thead > tr > th.address {
  width: 40%;
}
#students th[data-sort] {
  cursor: pointer;
}
#toolbar, #header{
  height: 40px;
}
#toolbar *{
  vertical-align: middle;
}
input {padding: 5px; margin: 5px;}
.tiny-btn{
  height: 25px;
  font-size: 12px;
  line-height: 1em;
  margin: 5px;
  padding: 5px;
}
.btn-success {
  background-color: green;
  color: white;
}
.btn-danger {
  background-color: red;
  color: white;
}
.btn-primary {
  background-color: #367ac3;
  color: white;
}

.student-detail img{
  max-width: 150px;
  float: left;
  margin-right: 20px;
}